Materi Bari dan Kolom

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.3
2.0.2

In [4]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

data = pd.DataFrame(np.random.randint(1,10,size=(n_rows,n_cols)), columns=cols)

data

   A  B  C  D  E
0  9  3  2  1  2
1  8  9  1  7  8
2  4  7  6  4  9
3  6  6  5  2  7
4  1  2  5  6  5

In [2]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

Manipulasi Kolom

In [8]:
data.add_prefix('depan_')

   depan_A  depan_B  depan_C  depan_D  depan_E
0        9        3        2        1        2
1        8        9        1        7        8
2        4        7        6        4        9
3        6        6        5        2        7
4        1        2        5        6        5

In [9]:
data.add_suffix('_belakang')

   A_belakang  B_belakang  C_belakang  D_belakang  E_belakang
0           9           3           2           1           2
1           8           9           1           7           8
2           4           7           6           4           9
3           6           6           5           2           7
4           1           2           5           6           5