Pemilihan Kolom Pada Data Frame

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.3
2.1.3

In [4]:
n_baris = 5
n_kolom = 2
kolom = ['bilangan pecahan', 'bilangan bulat']

data = pd.DataFrame(np.random.randint(1,20, size=(n_baris, n_kolom)), columns=kolom)

data['bilangan pecahan']=data['bilangan pecahan'].astype('float')

#Menambahkan kolom Index
data.index=pd.date_range(start='2024-12-01', periods=n_baris, freq='D')
data=data.reset_index()

#Menambahkan kolom Teks
data['teks']=list('ABCDE')

data

       index  bilangan pecahan  bilangan bulat teks
0 2024-12-01              14.0              19    A
1 2024-12-02               4.0               1    B
2 2024-12-03               7.0              12    C
3 2024-12-04               7.0              15    D
4 2024-12-05              11.0               6    E

Ini adalah cara untuk mengetahui tipe-tipe data yang kita gunakan

In [5]:
data.dtypes

index               datetime64[ns]
bilangan pecahan           float64
bilangan bulat               int32
teks                        object
dtype: object

Ini adalah cara untuk menampilkan semua data yang memimili tipe angka di delamnya

In [6]:
data.select_dtypes(include='number')

   bilangan pecahan  bilangan bulat
0              14.0              19
1               4.0               1
2               7.0              12
3               7.0              15
4              11.0               6

Jika kita ingin menampilkan tipe angka yang spesifik ya tinggal gabnti 'number aja ke angka spesifik yang ingin kita panggil

In [7]:
data.select_dtypes(include='float')

   bilangan pecahan
0              14.0
1               4.0
2               7.0
3               7.0
4              11.0

In [8]:
data.select_dtypes(include='int')

   bilangan bulat
0              19
1               1
2              12
3              15
4               6

Selanjutnya untuk memvisualsisasikan data string, dalam numpy dan pandas itu menggunakan istilah 'object'

In [9]:
data.select_dtypes(include='object')

  teks
0    A
1    B
2    C
3    D
4    E

Nah ini menampilkan untuk tipe tanggal

In [10]:
data.select_dtypes(include='datetime')

       index
0 2024-12-01
1 2024-12-02
2 2024-12-03
3 2024-12-04
4 2024-12-05

Ini adalah cara untuk memanggil lebih dari satu objek.

In [11]:
data.select_dtypes(include=['number', 'object'])

   bilangan pecahan  bilangan bulat teks
0              14.0              19    A
1               4.0               1    B
2               7.0              12    C
3               7.0              15    D
4              11.0               6    E